$pure-white-color: #FFFFFF !important;
$pure-black-color: #000000 !important;
$transparent-color: transparent !important;
$border-color: #d9d9d9f2 !important;
$green-border-color: #389e0d !important;
$red-perfect-color: #850d0d !important;